{% extends 'polls/base.html' %}
<!DOCTYPE html>

<html lang="en">

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} {{ message }} {% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <div class="card">
        <h2 class="card-title">{{ question.question_text }}</h2>
        <p class="card-status">Status: {{ question.can_vote|yesno:"Open ✅,Closed ❌" }}</p>
        <a href="{% url 'polls:detail' question.id %}">
            <button>View Details</button>
        </a>
        <a href="{% url 'polls:results' question.id %}">
            <button>View Results</button>
        </a>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

</html>

{% endblock %}