li a {
    color: black;
}
body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
}
/* polls/static/polls/style.css */

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card-status {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
    color: white;
}
